@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

[id] {
  scroll-margin-top: 100px;
}
